.slider_about{
    background-image: url('../assets/images/back.png');
    text-align: center;
    margin-top: 120px;
    padding: 30px 0;
} 
.slider_about h1{
    font-size: 30px;
    margin-bottom: 30px;
    font-weight: 600;
}
.slider_about h2{
    font-size: 16px;
    margin-bottom: 30px;
    letter-spacing: 5px;
}  
.slider_about h3{
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: 100;
} 
.ligne{
    width: 65%;
    height: 1px;
    background-color: #1f1f1f;
    margin: 40px auto;
    border-radius: 1px;
}
.info_about{
    margin-top: 30px;
    padding: 30px 0;
    display: flex;
    align-items: center;
    gap: 40px;
}
.info_about p, .info_why p{
    margin-bottom: 20px;
}
.text_about{
    flex: 1;
    margin: 0 0 0 80px ;
    text-align: left;
    font-size: 15px;
    font-weight: 550;
    letter-spacing: 2px;
}
.text_about1{
    flex: 1;
    margin: 0 80px 0 0 ;
    text-align: left;
    font-size: 15px;
    font-weight: 550;
    letter-spacing: 2px;
}
.info_about ul{
    padding-left: 30px;
    margin: 20px 0;
}
.info_about h2{
    font-size: 20px;
    letter-spacing: 3px;
}
.info_about h1, .info_why h1, .comments_about h1, .newsletter h1{
    font-size: 26px;
    text-align: center;
    font-weight: bolder;
    margin-bottom: 30px;
}
.info_about img{
    width: 100px;
    height: 450px;
    object-fit: cover;
    border-radius: 8%;
    box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.274);
    margin: 0 80px 0 0;
    flex: 1;
}
.info_about .img1{
    margin: 0 0 0 80px;
}
.info_why, .comments_about{
    margin-top: 30px;
    padding: 30px 100px;
    align-items: center;
    letter-spacing: 4px;
}
.argument{
    margin: 40px 0;
}
.argument h2{
    font-size: 20px;
    text-align: center;
    margin: 15px 0;
}
.argument-examples{
    display: flex;
    text-align: center;
    gap: 40px;
}
.argument-examples img{
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 5%;
    box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.274);
    margin: 0 80px 0 0;
}
.argument-examples p{
    text-align: left;
    margin: 20px 0;
}
.argument-examples h4{
    font-size: 16px;
    text-align: center;
    margin: 15px 0;
}

/* SLIDER – conteneur global */
.comments {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  scroll-behavior: smooth;
  padding-bottom: 20px;
  justify-content: center;
  align-items: stretch;
  /* cacher la scrollbar */
  scrollbar-width: none;
}

.comments::-webkit-scrollbar {
  display: none;
}

/* UNE CARTE */
.comment {
  min-width: 300px;       /* largeur des cartes */
  max-width: 320px;
  background: white;
  padding: 25px;
  border-radius: 16px;
  box-shadow: 0px 6px 18px rgba(0,0,0,0.12);
  text-align: left;
  flex-shrink: 0;
  transition: transform 0.3s ease;
}

.comment:hover {
  transform: translateY(-5px);
}

/* MESSAGE */
.comment .message {
  font-size: 14px;
  margin: 15px 0;
}

/* NOM */
.comment .name {
  font-weight: 700;
  margin-bottom: 5px;
  font-size: 1rem;
  margin: 0;
}

/* PAYS */
.comment .pays {
  font-size: 0.85rem;
  color: #777;
}

/* ⭐⭐⭐ ÉTOILES ⭐⭐⭐ */
.stars {
  margin: 0px 0 5px;
  color: #FFC107; /* jaune or */
  font-size: 18px;
}
/* ----- USER INFO ----- */
.user {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 15px;
}

.user-img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #eee;
}

.newsletter {
    text-align: center;
    margin: 10px 0 50px;
}
.newsletter button {
  background: #c97a03;
}
.newsletter input:focus {
  box-shadow: 0 0 5px #c97a0373;
}
@media screen and (max-width: 1260px) {
    .comments{
        justify-content: flex-start;
    }
}
@media screen and (max-width: 768px) {
    .info_about{
        margin-top: 10px;
        padding: 20px 0;
    }
    .text_about{
        margin: 0 0 0 20px ;
        font-size: 13px;
    }
    .text_about1{
        margin: 0 20px 0 0 ;
        font-size: 12px;
    }
    .info_about h1{
        font-size: 16px;
        margin-bottom: 10px;
    }
    .info_about img{
        width: 150px;
        margin: 0 20px 0 0;
        flex: 0.6;
    }
    .info_about .img1{
        margin: 0 0 0 20px;
    }
    .help_about h1{
        font-size: 20px;
        margin: 30px 0;
    }
    .help_about a{
        padding: 8px 15px;
        margin: 20px 0;
        font-size: 15px;
    }
    .help_about a:hover{
        
        font-size: 17px;
    }
    .argument-examples{
        flex-direction: column;
    }
    
}